@model GerenciadoDespesas.ViewModels.EstatisticasViewModel

<div>
    <p>Despesas Cadastradas: @Model.QuantidadeDespesas</p>
    <p>Despesas Menor Despesa: @Model.MenorDespesa</p>
    <p>Despesas Maior Despesa: @Model.MaiorDespesa</p>
</div>
